@import "../button/button.less";
@import "../dropdown/dropdown.less";
@import "../spin/spin.less";

.guest-counter {

    &__spin {
        margin: 6px -6px 5px 0;
    }

    &__buttons-panel {
        display: flex;
        justify-content: space-between;
        margin: 18px -8px 10px -8px;
    }

    &__clear-button{
        display: inline-block;
        justify-self: flex-start;
        width: auto;
    }

    &__clear-button_hidden{
        display: none;
    }

    &__apply-button{
        display: inline-block;
        justify-self: flex-end;
        width: auto;
        transform: translateX(5px);
    }
}