include ../spin/spin.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin guest-counter(text="Сколько гостей", val1=0, val2=0, val3=0, guestCounterAttrs)
  +dropdown(
    text,
    join({class: "guest-counter"}, guestCounterAttrs),
    {},
    {},
    {class: "guest-counter__label"},
    {})
      +spin("adults", val1, {class: "guest-counter__spin"}) Взрослые
      +spin("children", val2, {class: "guest-counter__spin"}) Дети
      +spin("babyes", val3, {class: "guest-counter__spin"}) Младенцы
      .guest-counter__buttons-panel
        +button({class: "button_tiny guest-counter__clear-button"}) Очистить
        .guest-counter__strut
        +button({class: "button_tiny guest-counter__apply-button"}) Применить