.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 22px;
  padding: 2px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  width: 100%;

  &:focus {
    .focused();
  }
  &:active {
    .active();
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &__label {
    display: inline-block;
    white-space: nowrap;
    color: white;
    padding: 0px 15px;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    line-height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
  }

  // for making gradient outline
  &__label_white {
    color: @purple;
    border-radius: 18px;
    background-color: @bg-color;
  }

  // for link-like buttons
  &_tiny {
    background: none;
    line-height: 18px;
  }

  &__label_tiny {
    color: @purple;
    padding: 0px 5px;
    line-height: 18px;
  }

  // for label with arrow
  &__label_arrowed {
    position: relative;
    box-sizing: border-box;
    // width: 316px;
    background-image: url(button_arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }



}