
mixin button(btnAttr, lblAttr)
  -
    var battr = Object.assign({type: button}, btnAttr);
    var lattr = Object.assign({}, lblAttr)
  button.button&attributes(battr)
    span.button__label&attributes(lattr)
      block
