@import "../h2/h2.less";
@import "../h3/h3.less";
@import "../double-date-dropdown/double-date-dropdown.less";
@import "../guest-counter/guest-counter.less";
@import "../button/button.less";

.primary-search {
    box-sizing: border-box;
    width: 380px;
    background: @white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 30px;
    padding-top: 40px;

    &__heading {
        margin-bottom: 20px;
    }

    &__in-out-labels {
        display: flex;

    }

    &__in-label {
        width: 50%;
        flex-grow: 1;
        padding-bottom: 5px;
    }

    &__stub {
        width: 20px;
        flex-shrink: 0;
    }

    &__out-label {
        width: 50%;
        flex-grow: 1;
        padding-bottom: 5px;
    }

    &__double-date-dropdown {
        width: 100%;
    }

    &__guest-label {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    &__guest-counter {
        width: 100%;
    }

    &__button {
        margin-top: 32px;
        width: 100%;
    }

    &__button-lable{
        width: 100%;
    }
}