include ../double-date-dropdown/double-date-dropdown.pug
include ../guest-counter/guest-counter.pug
include ../button/button.pug

mixin primary-search(outerAttr)
  .primary-search&attributes(outerAttr)
    form
      .h1.primary-search__heading Найдём номера под ваши пожелания
      .primary-search__in-out-labels
        .h3.primary-search__in-label Прибытие
        .primary-search__stub
        .h3.primary-search__out-label Выезд
      +double-date-dropdown(
        "searchcdates",
        undefined,
        undefined,
        {class: "primary-search__double-date-dropdown"})
      .h3.primary-search__guest-label Гости
      +guest-counter(
        undefined,
        undefined,
        undefined,
        undefined,
        {class: "primary-search__guest-counter"}
      )
      +button({class: "button_arrowed primary-search__button", type: "submit"}) Подобрать номер
