mixin like-button
  .like-button
    input.like-button__input(type="checkbox" id=Id.nextId())&attributes(attributes)
    div.like-button__background-label
      label.like-button__label(for=Id.id())
        block