include ../dropdown/dropdown.pug
include ../calendar/calendar.pug

mixin date-dropdown(name, labelContent="ДД.ММ.ГГГГ", dropdownAttr, calAttr)
  +dropdown(
    labelContent,
    join({class: "date-dropdown"}, dropdownAttr),
    {class: "date-dropdown__trigger"},
    {},
    {class: "date-dropdown__label"},
    {class: "date-dropdown__content"})
    +calendar(name, calAttr)
