@import "../dropdown/dropdown.less";
@import "../calendar/calendar.less";

.date-dropdown {
    &__trigger:checked + &__label {
        border-radius: 4px;
    }

    &__content {
        padding: 5px 0 0 0;
        border: none;
        transform: none;
    }
}