include ../dropdown/dropdown.pug

mixin expandable-control-list(text, eclAttrs, cboxAttr, backdropAttr, labelAttr, contentAttr)
  +dropdown(
    text,
    join({class: "expandable-control-list"}, eclAttrs),
    join({class: "expandable-control-list__show"}, cboxAttr),
    join({class: "expandable-control-list__backdrop"}),
    join({class: "expandable-control-list__label"}, labelAttr),
    join({class: "expandable-control-list__content"}, contentAttr)
  )
      block