mixin feature-description(iconURI, header, text, fdAttrs)
  // feature-description
  .feature-description&attributes(fdAttrs)
    img.feature-description__image(src=iconURI alt=header)
    .feature-description__header= header
    .feature-description__text= text
  // feature-description