@import "../checkbox/checkbox.less";

.rich-checkbox {
    padding-bottom: 10px;

    &__title {
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: @dark-75;
        margin-bottom: 3px;
    }

    &__checkbox-label {
        font-size: 12px;
        line-height: 14px;
    }
}

