mixin toxin-small-footer(outerAttrs)
  // toxin-footer
  footer.small-footer
    a.toxin-logo.small-footer__logo(href="#")
    .small-footer__text.
      Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .small-footer__footer-socials
      a.social-button.social-button_twitter(href="#")
      a.social-button.social-button_facebook(href="#")
      a.social-button.social-button_instagram(href="#")
  // /toxin-footer