mixin radiobutton
  .radiobutton
    input.radiobutton__input(type="radio" id=Id.nextId())&attributes(attributes)
    label.radiobutton__label(for=Id.id())
      .radiobutton__presentation
        .radiobutton__marker
      block