mixin subscription-text-field(textAttributes, buttonAttributes)
  .subscription-text-field
    input.text-field.subscription-text-field__text(type="text")&attributes(textAttributes)
    button.subscription-text-field__button(type="button")&attributes(buttonAttributes)