include ../spin/spin.pug
include ../dropdown/dropdown.pug

mixin rooms-demand(text="не задано", val1=0, val2=0, val3=0, roomDemandAttrs)
  +dropdown(
    text,
    join({class: "room-demand"}, roomDemandAttrs),
    {},
    {},
    {class: "room-demand__label"},
    {})
      +spin("bedrooms", val1, {class: "room-demand__spin"}) Спальни
      +spin("beds", val2, {class: "room-demand__spin"}) Кровати
      +spin("bathrooms", val3, {class: "room-demand__spin"}) Ванные комнаты