@import "../date-dropdown/date-dropdown.less";

.double-date-dropdown {
    display: flex;
    justify-content: space-between;
    width: 320px;

    &__to-field {
        .date-dropdown__content {
            right: 0;
        }
    }
}