include ../date-dropdown/date-dropdown.pug

mixin double-date-dropdown
  .double-date-dropdown
    .double-date-dropdown__from-field
      +date-dropdown
    .double-date-dropdown__to-field
      +date-dropdown