doctype html

//- components including
include ../components/common.pug
include ../components/toxin-main-menu/toxin-main-menu.pug
include ../components/search-panel/search-panel.pug
include ../components/room-card/room-card.pug
include ../components/pagination/pagination.pug
include ../components/toxin-big-footer/toxin-big-footer.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Toxin
    script(src="index.js")
    link(href="../index.less" rel="stylesheet" type="text/css")
  body.filter-page
    +toxin-main-menu
    main.filter-page__main
      .filter-page__search-panel
        +search-panel
      .filter-page__results-panel
        h1.h1.filter-page__h1 Номера, которые мы для вас подобрали
        .filter-page__rooms-list
          +room-card(
              "888", "Люкс", "#", 
              ["../img/slides/1.png", "../img/slides/2.png", "../img/slides/3.png", "../img/slides/4.png"], 
              "9 990 ₽", 5, 145, 
              {class: "filter-page__room-card"})
          +room-card(
              "840", "", "#", 
              ["../img/slides/2.png", "../img/slides/3.png", "../img/slides/4.png", "../img/slides/5.png"], 
              "9 990 ₽", 4, 65, 
              {class: "filter-page__room-card"})
          +room-card(
              "980", "Люкс", "#", 
              ["../img/slides/4.png", "../img/slides/3.png", "../img/slides/5.png", "../img/slides/6.png"], 
              "8 500 ₽", 3, 35, 
              {class: "filter-page__room-card"})
          +room-card(
              "856", "", "#", 
              ["../img/slides/7.png", "../img/slides/5.png", "../img/slides/6.png", "../img/slides/4.png"], 
              "7 300 ₽", 5, 19, 
              {class: "filter-page__room-card"})
          +room-card(
              "740", "", "#", 
              ["../img/slides/5.png", "../img/slides/6.png", "../img/slides/7.png", "../img/slides/8.png"], 
              "6 000 ₽", 4, 44, 
              {class: "filter-page__room-card"})
          +room-card(
              "982", "", "#", 
              ["../img/slides/6.png", "../img/slides/7.png", "../img/slides/8.png", "../img/slides/9.png"], 
              "5 800 ₽", 3, 56, 
              {class: "filter-page__room-card"})
          +room-card(
              "678", "", "#", 
              ["../img/slides/10.png", "../img/slides/8.png", "../img/slides/9.png", "../img/slides/7.png"], 
              "5 500 ₽", 5, 45, 
              {class: "filter-page__room-card"})
          +room-card(
              "450", "", "#", 
              ["../img/slides/8.png", "../img/slides/9.png", "../img/slides/10.png", "../img/slides/11.png"], 
              "5 300 ₽", 4, 39, 
              {class: "filter-page__room-card"})
          +room-card(
              "350", "", "#", 
              ["../img/slides/9.png", "../img/slides/10.png", "../img/slides/11.png", "../img/slides/12.png"], 
              "5 000 ₽", 3, 77, 
              {class: "filter-page__room-card"})
          +room-card(
              "666", "", "#", 
              ["../img/slides/12.png", "../img/slides/11.png", "../img/slides/10.png", "../img/slides/1.png"], 
              "5 000 ₽", 5, 25, 
              {class: "filter-page__room-card"})
          +room-card(
              "444", "", "#", 
              ["../img/slides/11.png", "../img/slides/12.png", "../img/slides/1.png", "../img/slides/2.png"], 
              "5 000 ₽", 3, 15, 
              {class: "filter-page__room-card"})
          +room-card(
              "352", "", "#", 
              ["../img/slides/3.png", "../img/slides/1.png", "../img/slides/2.png", "../img/slides/12.png"], 
              "5 000 ₽", 3, 55, 
              {class: "filter-page__room-card"})
          
        .filter-page__pagination
          +pagination("1-12 из 100+ вариантов аренды")
            // +pagination__button("#", "pagination__button_prev")
            +pagination__button("#", "pagination__button_cur") 1
            +pagination__button("#") 2
            +pagination__button("#") 3
            +pagination__button("", "pagination__button_gap")
            +pagination__button("#") 15
            +pagination__button("#", "pagination__button_next")

    +toxin-big-footer