p: a(href="ui-kit.html") UI kit
p: a(href="landing-page.html") Landing page
p: a(href="filter-page.html") Filter page
p: a(href="room-details-page.html") Room details page
p: a(href="login-page.html") Login page
p: a(href="registration-page.html") Registration page