doctype html
include ../components/common.pug

include ../components/button/button.pug
include ../components/slider/slider.pug
include ../components/checkbox/checkbox.pug
include ../components/radiobutton/radiobutton.pug
include ../components/toggle/toggle.pug
include ../components/like-button/like-button.pug
include ../components/rate-button/rate-button.pug
include ../components/pagination/pagination.pug
include ../components/text-field/text-field.pug
include ../components/date-text-field/date-text-field.pug
include ../components/dropdown/dropdown.pug
include ../components/expandable-control-list/expandable-control-list.pug
include ../components/spin/spin.pug
include ../components/rooms-demand/rooms-demand.pug
include ../components/guest-counter/guest-counter.pug
include ../components/calendar/calendar.pug
include ../components/date-dropdown/date-dropdown.pug
include ../components/double-date-dropdown/double-date-dropdown.pug
include ../components/date-range-dropdown/date-range-dropdown.pug
include ../components/subscription-text-field/subscription-text-field.pug
include ../components/feature-description/feature-description.pug
include ../components/rich-checkbox/rich-checkbox.pug
include ../components/feedback/feedback.pug
include ../components/image-slider/image-slider.pug
include ../components/doughnut/doughnut.pug

include ../components/primary-search/primary-search.pug
include ../components/account-registration/account-registration.pug
include ../components/room-booking/room-booking.pug
include ../components/login/login.pug
include ../components/room-card/room-card.pug
include ../components/toxin-main-menu/toxin-main-menu.pug
include ../components/toxin-big-footer/toxin-big-footer.pug
include ../components/toxin-small-footer/toxin-small-footer.pug
include ../components/search-panel/search-panel.pug

mixin separator(title)
  .separator 
    h2.h2= title
    block

html(lang="ru")
  head
    meta(charset="utf-8")
    title Страница тестирования ui-kit
    script(src="index.js")
    link(href="../index.less" rel="stylesheet" type="text/css")
  body
    h1.h1 Страница тестирования и отладки элементов интерфейса 
    .column-holder
      .column
        +separator("text-field")
          +text-field(
            "email", 
            "Email", 
            {class: "ui-kit-text-field"})
        +separator("subscription-text-field")
          +subscription-text-field(
            "stf", 
            "Email", 
            {class: "ui-kit-subscription-text-field"}, 
            {}, 
            {onclick: "alert('ok')"})
        +separator("date-text-field")
          +date-text-field(undefined, undefined, undefined, {class: "ui-kit-date-text-field"})
        +separator("dropdown")
          +dropdown("initial content", {class: "ui-kit-dropdown"})
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet cupiditate ipsum obcaecati repellendus accusantium praesentium natus nihil excepturi quia.
        +separator("date-dropdown")
          +date-dropdown("myname", undefined, {class: "ui-kit-date-dropdown"})
        +separator("double-date-dropdown")
          +double-date-dropdown("someother", undefined, undefined, {class: "ui-kit-double-date-dropdown"})
        +separator("date-range-dropdown")
          +date-range-dropdown("daterange", undefined, {class: "ui-kit-date-range-dropdown"})
      .column
        +separator('checkbox')
          +checkbox("myCheckbox", false, {}, {disabled: true}) Можно курить
          +checkbox("myCheckbox", "checked") Можно c питомцами
          +checkbox("myCheckbox") Можно пригласить гостей <br>(до 10 человек)
        +separator("radiobutton")
          +radiobutton("sex", "male", true) Мужчина
          +radiobutton("sex", "female") Женщина
        +separator("toggle")
          +toggle("myToggle", true) Получать спецпредложения
          +toggle("myToggle") Получать спецпредложения
        +separator("like-button")
          +like-button("lb", 8)
          +like-button("lb2", 12, true)
        +separator("rate-button")
          +rate-button("first-rate", 3)
          <!-- --> &nbsp;&nbsp;&nbsp;
          +rate-button("secont-rate", 4)
        +separator("doughnun")
          +doughnut
            +doughnut__item(522, '#FFBA9C') Великолепно
            +doughnut__item(261, '#BC9CFF') Хорошо
            +doughnut__item(260, '#6FCF97') Удовлетворительно
            +doughnut__item(0, '#919191') Разочарован
      .column
        +separator('slider')
          +slider("sld", 0, 20000, 5000, 10000)
        +separator("button")
          +button({class: "ui-kit-small-button"}) click me
          +button({disabled: "true", class: "ui-kit-small-button"}) CLICK ME
        .separator
          +button({class: "button_white ui-kit-small-button"}) CLICK ME
          +button({disabled: "disabled", class: "button_white ui-kit-small-button"}) CLICK ME
        .separator
          +button({class: "button_tiny ui-kit-small-button"}) click me
          +button({class: "button_tiny ui-kit-small-button", disabled: "disabled"}) click me
        .separator
          +button({class: "button_arrowed"}) перейти к оплате
        +separator("pagination")
          +pagination("1-12 из 100+ вариантов аренды")
            +pagination__button("#", "pagination__button_prev")
            +pagination__button("#", "pagination__button_cur") 1
            +pagination__button("#") 2
            +pagination__button("#") 3
            +pagination__button("", "pagination__button_gap")
            +pagination__button("#") 15
            +pagination__button("#", "pagination__button_next")
    .column-holder
      .column
        +separator("expandable-control-list")
          +expandable-control-list("Дополнительные опции", {class: "ui-kit-expandable-control-list"})
            +checkbox("require-breakfest") Завтрак
            +checkbox("require-table") Письменный стол
            +checkbox("require-baby-table") Стул для кормления
            +checkbox("require-baby-bed") Кроватка
            +checkbox("require-tv") Телевизор
            +checkbox("require-shampoo") Шампунь
            +checkbox("require-socks") Носки
      .column
        +separator("spin")
            +spin(pm, 1) Спальни
        +separator("rooms-demand")
          +rooms-demand(
            "2 спальни, 2 кровати, 0 ванных комнат", 2, 2, 0, 
            {class: "ui-kit-rooms-demand"})
        +separator("guest-counter")
          +guest-counter(
            undefined, 
            undefined, 
            undefined, 
            undefined, 
            {class: "ui-kit-guest-counter"})
      .column
        +separator("calendar")
          +calendar("simpleCal", {}, {'data-range': "true"})
    .column-holder
      .column
        +separator("feature-description")
          +feature-description("../img/icons/emoticon.svg", "Комфорт", "Шумопоглощающие стены")
          +feature-description("../img/icons/location_city.svg", "Удобство", "Окно в каждой из спален")
      .column
        +separator("rich-checkbox")
          +rich-checkbox("Wide", "Широкий коридор") Ширина коридора в номере не менее 91 см.
          +rich-checkbox("Accessebility", "Помощник для инвалидов") На 1 этаже вас встретит специалист и проводит до номера.
      .column
        +separator("bullet-list")
        ul.bullet-list
          li.bullet-list__item Нельзя с питомцами
          li.bullet-list__item Без вечеринок и мероприятий
          li.bullet-list__item Время прибытия &mdash; после 13:00, а выезд до 12:00
    +separator("feedback")
      +feedback("../img/avatars/user-2.jpg", "Мурад Сарафанов", "5 дней назад", "lb", 12, true).
        Великолепный матрас на кровати в основной спальне!
        А пуфик вообще потрясающий.
        И стены действительно, шумоподавляющие.
        Выкрикивал комплименты повару &mdash; никто не жаловался из соседей.

    .column-holder
      .column
        +separator("primary-search")
          +primary-search
        +separator("account-registration")
          +account-registration
      .column
        +separator("room-booking")
          +room-booking(888, "люкс", "9 990", "20.08.2019", "24.08.2019")
        +separator("login")
          +login
        +separator("toxin-logo")
          a.toxin-logo(href="#")
      .column 
        +separator("image-slider")
          +image-slider([
            "../img/slides/1.png",
            "../img/slides/2.png",
            "../img/slides/3.png",
            "../img/slides/4.png"
          ])
        +separator("room-card")
          +room-card("886", "Люкс", "#", ["../img/slides/1.png", "../img/slides/2.png", "../img/slides/3.png", "../img/slides/4.png"], "9 990 ₽", 4, 65, {class: "ui-kit-room-card"})
        +separator("search-panel")
          +search-panel
    .wide-column
      +separator("main-menu")
        +toxin-main-menu(true)
      +separator("main-menu with buttons")
        +toxin-main-menu
      +separator("big-footer")
        +toxin-big-footer
      +separator("small footer")
        +toxin-small-footer