@import "../dropdown/dropdown.less";
@import "../calendar/calendar.less";

.date-range-dropdown {
    
    &__trigger:checked + &__label {
        border-radius: 4px;
    }

    &__label {
        box-sizing: border-box;
        width: 266px;
        padding-right: 40px;
    }

    &__content {
        padding: 5px 0 0 0;
        border: none;
        transform: none;
    }
}