include ../dropdown/dropdown.pug
include ../calendar/calendar.pug

mixin date-range-dropdown(name, labelContent="Выберите даты", dropdownAttr, calAttr)
  +dropdown(
    labelContent,
    join({class: "date-range-dropdown"}, dropdownAttr),
    {class: "date-range-dropdown__trigger"},
    {},
    {class: "date-range-dropdown__label"},
    {class: "date-range-dropdown__content"})
    +calendar(
      name, 
      {}, 
      join({
        'data-range': "true",
        'data-date-format': "dd M",
        'data-multiple-dates-separator': " - ",
        }, calAttr))