include ../text-field/text-field.pug
include ../radiobutton/radiobutton.pug
include ../date-text-field/date-text-field.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin account-registration(outerAttrs)
  .account-registration&attributes(outerAttrs)
    form
      .h1.account-registration__heading Регистрация аккаунта
      +text-field(
        "firstname",
        "Имя",
        {class: "account-registration__first-name"})
      +text-field(
        "secondname",
        "Фамилия",
        {class: "account-registration__last-name"})
      .account-registration__radio-wrapper
        +radiobutton("sex", "male", true) Мужчина
      .account-registration__radio-wrapper
        +radiobutton("sex", "female") Женщина
      .h3.account-registration__birthday-label Дата рождения
      +date-text-field(
        "birthdayDate",
        "ДД.ММ.ГГГГ",
        "'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy', 'placeholder': 'ДД.ММ.ГГГГ'",
        {class: "account-registration__birthday-field"})
      .h3.account-registration__login-data_label Данные для входа в сервис
      +text-field(
        "email",
        "Email",
        {class: "account-registration__email-field", type: "email"})
      +text-field(
        "password",
        "Пароль",
        {class: "account-registration__password-field", type: "password"}
      )
      +toggle("recievoffers") Получать спецпредложения
      +button({class: "button_arrowed account-registration__go-to-pay-button", type: "submit"}, {class: "button__label_arrowed"}) Перейти к оплате
      .account-registration__to-login
        .account-registration__to-login-text.text Уже есть аккаунт на Toxin
        +button({class: "account-registration__enter-button"}, {class: "button__label_white account-registration__enter-button-label"}) Войти

