include ../text-field/text-field.pug
include ../radiobutton/radiobutton.pug
include ../date-text-field/date-text-field.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin account-registration
  .account-registration
    form
      .h1.account-registration__heading Регистрация аккаунта
      input(type="text" name="firstname" placeholder="Имя").text-field.account-registration__first-name
      input(type="text" name="secondname" placeholder="Фамилия").text-field.account-registration__last-name
      .account-registration__radio-wrapper
        +radiobutton("sex", "male", true) Мужчина
      .account-registration__radio-wrapper
        +radiobutton("sex", "female") Женщина
      .h3.account-registration__birthday-label Дата рождения
      +date-text-field(name="birthdayDate" class="account-registration__birthday-field")
      .h3.account-registration__login-data_label Данные для входа в сервис
      input(type="text" name="email" placeholder="Email").text-field.account-registration__email-field
      input(type="password" name="password" placeholder="Пароль").text-field.account-registration__password-field
      +toggle(name="recievoffers") Получать спецпредложения
      +button({class: "button_arrowed account-registration__go-to-pay-button"}, {class: "button__label_arrowed"}) Перейти к оплате
      .account-registration__to-login
        .account-registration__to-login-text.text Уже есть аккаунт на Toxin
        +button({class: "account-registration__enter-button"}, {class: "button__label_white account-registration__enter-button-label"}) Войти
