-
  const Id = {
      prefix: "autoid",
      current: 0,
      id() {return this.prefix + "-" + this.current},
      nextId() {return this.prefix + "-" + ++this.current}
  }


//-
  Функция возвращает объединение всех объектов таким образом, что
  в результат попадает последнее значение. 
  Однако поля с именем class объединяются.
  В результате можно задавать атрибуты элемента в нескольких объектах и потом
  легко объединять их не теряя при этом ранее заданные классы
-
  function join(...objects) {
    let res={};
    let classes=[];
    for(var obj of objects) {
      console.log(objects);
      if(obj && obj["class"]) {
        classes.push(obj["class"]);
        delete obj["class"];
      }
    }
    if(classes.length) {
      res["class"]=classes.join(" ");
    }
    return Object.assign(res, ...objects);
  }