mixin feedback(photo, name, date, likes, isChecked)
  .feedback
    .feedback__header
      img.feedback__image(src=photo width="48" height="48" alt="User avatar")
      .feedback__name= name
      .feedback__date= date
    .feedback__body
      .feedback__like
        +like-button("lb", likes, isChecked)
      .feedback__text
        block