
.bullet-list {
    list-style-image: url(bullet-list__mark.png);
    padding-left: 20px;
    &__item {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: @dark-75;
    }
}