
include ../text-field/text-field.pug
include ../button/button.pug

mixin login(outerAttrs)
  // login
  .login&attributes(outerAttrs)
    form
      .h1.login__heading Войти
      +text-field(
        "email", 
        "Email", 
        {class: "login__email-field"})
      +text-field(
        "password",
        "Пароль",
        {class: "login__password-field", type: "password"})
      +button(
        {class: "button_arrowed login__enter", type: "submit"},
        {class: "button__label_arrowed"}) Войти
      .login__to-create-account
        .login__to-create-account-text.text Нет аккаунта на Toxin?
        +button(
          {class: "button_white login__create-account-button"}) Создать
  // login
