
include ../text-field/text-field.pug
include ../button/button.pug

mixin login
  .login
    form
      .h1.login__heading Войти
      +text-field(
        "email", 
        "Email", 
        {class: "login__email-field"})
      +text-field(
        "password",
        "Пароль",
        {class: "login__password-field", type: "password"})
      +button(
        {class: "button_arrowed login__enter"},
        {class: "button__label_arrowed"}) Войти
      .login__to-create-account
        .login__to-create-account-text.text Нет аккаунта на Toxin?
        +button(
          {class: "login__create-account-button"}, 
          {class: "button__label_white login__create-account-button-label"}) Создать
