mixin spin(name, value=0)
  .spin&attributes(attributes)
    .spin__lable
      block
    .spin__controls
      button(type="button").spin__button.spin__button_minus &minus;
      input.spin__counter(type="text" name=name value=value)
      button(type="button").spin__button.spin__button_plus +

