doctype html

//- components including
include components/common.pug
include components/toxin-main-menu/toxin-main-menu.pug
include components/login/login.pug
include components/toxin-big-footer/toxin-big-footer.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Toxin
    script(src="index.js")
    link(href="index.less" rel="stylesheet" type="text/css")
  body.login-page
    +toxin-main-menu
    .login-page__background
      +login({class: "login-page__login-widget"})
    +toxin-big-footer