doctype html
include components/button/button.pug
include components/slider/slider.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    title Страница тестирования ui-kit
    script(src="index.js")
    style.
      *- {outline: dotted 1px blue;}
      .column-holder {display: flex; width:100%; justify-content: space-between;}
      .column {padding: 10px; width: 30%;}
      .separator {margin-top: 30px}
    link(href="index.less" rel="stylesheet" type="text/css")
  body
    h1 Страница тестирования и отладки элементов интерфейса
    .column-holder
      .column
        +slider(0, 10000, 500, 8000)
      .column
        +slider(0, 1000, 0, 800)
      .column
        .separator
          +slider(0, 20000, 5000, 10000)
        .separator
          +button
            +button__label click me
          +button(disabled="true")
            +button__label CLICK ME
        .separator
          +button
            +button__label(class="button__label_white") CLICK ME
          +button(disabled="disabled")
            +button__label(class="button__label_white") CLICK ME
        .separator
          +button(class="button_tiny")
            +button__label(class="button__label_tiny") click me
          +button(class="button_tiny" disabled=true)
            +button__label(class="button__label_tiny") click me
        .separator
          +button(class="button_arrowed")
            +button__label(class="button__label_arrowed") перейти к оплате
