doctype html
include components/common.pug
include components/button/button.pug
include components/slider/slider.pug
include components/checkbox/checkbox.pug
include components/radiobutton/radiobutton.pug
include components/toggle/toggle.pug
include components/like-button/like-button.pug
include components/rate-button/rate-button.pug
include components/pagination/pagination.pug
include components/text-field/text-field.pug
include components/date-text-field/date-text-field.pug

mixin separator(title)
  .separator 
    h3= title
    block

html(lang="ru")
  head
    meta(charset="utf-8")
    title Страница тестирования ui-kit
    script(src="index.js")
    style.
      *- {outline: dotted 1px blue;}
      .column-holder {display: flex; width:100%; justify-content: space-between;}
      .column {padding: 10px; width: 30%;}
      .separator {margin-top: 30px}
    link(href="index.less" rel="stylesheet" type="text/css")
  body
    h1 Страница тестирования и отладки элементов интерфейса
    .column-holder
      .column
        +separator("Text field")
          +text-field(placeholder="Email")
        +separator("Masked text field")
          +date-text-field
      .column
        +separator('Checkbox buttons')
          +checkbox(name="myCheckbox" disabled) Можно курить
          +checkbox(name="myCheckbox" checked) Можно c питомцами
          +checkbox(name="myCheckbox") Можно пригласить гостей <br>(до 10 человек)
        +separator("Radio Buttons")
          +radiobutton(name="sex" checked) Мужчина
          +radiobutton(name="sex") Женщина
        +separator("Toggle")
          +toggle(name="myToggle" checked) Получать спецпредложения
          +toggle(name="myToggle") Получать спецпредложения
        +separator("like button")
          +like-button(name="lb") 8
          +like-button(name="lb" checked) 12
        +separator("Rate button")
          +rate-button(3)(name="rb1")
          <!-- --> &nbsp;&nbsp;&nbsp;
          +rate-button(4)(name="rb2")
      .column
        +separator('Range slider')
          +slider(0, 20000, 5000, 10000)
        +separator("Buttons")
          +button
            +button__label click me
          +button(disabled="true")
            +button__label CLICK ME
        .separator
          +button
            +button__label(class="button__label_white") CLICK ME
          +button(disabled="disabled")
            +button__label(class="button__label_white") CLICK ME
        .separator
          +button(class="button_tiny")
            +button__label(class="button__label_tiny") click me
          +button(class="button_tiny" disabled="disabled")
            +button__label(class="button__label_tiny") click me
        .separator
          +button(class="button_arrowed")
            +button__label(class="button__label_arrowed") перейти к оплате
        +separator("Pagination")
          +pagination("1-12 из 100+ вариантов аренды")
            +pagination__button(class="pagination__button_prev" href="#")
            +pagination__button(class="pagination__button_cur" href="#") 1
            +pagination__button(href="#") 2
            +pagination__button(href="#") 3
            +pagination__button(class="pagination__button_gap")
            +pagination__button(href="#") 15
            +pagination__button(class="pagination__button_next" href="#")