doctype html
include components/common.pug

include components/button/button.pug
include components/slider/slider.pug
include components/checkbox/checkbox.pug
include components/radiobutton/radiobutton.pug
include components/toggle/toggle.pug
include components/like-button/like-button.pug
include components/rate-button/rate-button.pug
include components/pagination/pagination.pug
include components/text-field/text-field.pug
include components/date-text-field/date-text-field.pug
include components/dropdown/dropdown.pug
include components/expandable-control-list/expandable-control-list.pug
include components/spin/spin.pug
include components/rooms-demand/rooms-demand.pug
include components/guest-counter/guest-counter.pug
include components/calendar/calendar.pug
include components/date-dropdown/date-dropdown.pug
include components/double-date-dropdown/double-date-dropdown.pug
include components/date-range-dropdown/date-range-dropdown.pug
include components/subscription-text-field/subscription-text-field.pug
include components/feature-description/feature-description.pug
include components/rich-checkbox/rich-checkbox.pug
include components/feedback/feedback.pug

include components/primary-search/primary-search.pug
include components/account-registration/account-registration.pug
include components/room-booking/room-booking.pug
include components/login/login.pug

mixin separator(title)
  .separator 
    h2.h2= title
    block

html(lang="ru")
  head
    meta(charset="utf-8")
    title Страница тестирования ui-kit
    script(src="index.js")
    style.
      *- {outline: dotted 1px blue;}
      .column-holder {display: flex; width:100%; justify-content: space-between;}
      .column {padding: 10px; width: 30%;}
      .separator {margin-top: 30px}
    link-off(href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Quicksand:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
    link(href="index.less" rel="stylesheet" type="text/css")
  body
    h1.h1 Страница тестирования и отладки элементов интерфейса 
    .column-holder
      .column
        +separator("Text field")
          +text-field(placeholder="Email")
        +separator("Subscription text field")
          +subscription-text-field
        +separator("Masked text field")
          +date-text-field
        +separator("Dropdown")
          +dropdown("initial content")
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet cupiditate ipsum obcaecati repellendus accusantium praesentium natus nihil excepturi quia.
        +separator("Date dropdown")
          +date-dropdown
        +separator("Double date dropdown")
          +double-date-dropdown
        +separator("Date range dropdown")
          +date-range-dropdown
      .column
        +separator('Checkbox buttons')
          +checkbox("myCheckbox", false, {}, {disabled: true}) Можно курить
          +checkbox("myCheckbox", "checked") Можно c питомцами
          +checkbox("myCheckbox") Можно пригласить гостей <br>(до 10 человек)
        +separator("Radio Buttons")
          +radiobutton(name="sex" checked) Мужчина
          +radiobutton(name="sex") Женщина
        +separator("Toggle")
          +toggle(name="myToggle" checked) Получать спецпредложения
          +toggle(name="myToggle") Получать спецпредложения
        +separator("like button")
          +like-button(name="lb") 8
          +like-button(name="lb" checked) 12
        +separator("Rate button")
          +rate-button(3)(name="rb1")
          <!-- --> &nbsp;&nbsp;&nbsp;
          +rate-button(4)(name="rb2")
      .column
        +separator('Range slider')
          +slider("sld", 0, 20000, 5000, 10000)
        +separator("Buttons")
          +button click me
          +button({disabled: "true"}) CLICK ME
        .separator
          +button({}, {class: "button__label_white"}) CLICK ME
          +button({disabled: "disabled"}, {class: "button__label_white"}) CLICK ME
        .separator
          +button({class: "button_tiny"}, {class: "button__label_tiny"}) click me
          +button({class: "button_tiny", disabled: "disabled"}, {class: "button__label_tiny"}) click me
        .separator
          +button({class: "button_arrowed"}, {class: "button__label_arrowed"}) перейти к оплате
        +separator("Pagination")
          +pagination("1-12 из 100+ вариантов аренды")
            +pagination__button("#", "pagination__button_prev")
            +pagination__button("#", "pagination__button_cur") 1
            +pagination__button("#") 2
            +pagination__button("#") 3
            +pagination__button("", "pagination__button_gap")
            +pagination__button("#") 15
            +pagination__button("#", "pagination__button_next")
    .column-holder
      .column
        +separator("Expandable checkbox list")
          +expandable-control-list("EXPANDABLE CHECKBOX LIST")
            +checkbox("require-breakfest") Завтрак
            +checkbox("require-table") Письменный стол
            +checkbox("require-baby-table") Стул для кормления
            +checkbox("require-baby-bed") Кроватка
            +checkbox("require-tv") Телевизор
            +checkbox("require-shampoo") Шампунь
            +checkbox("require-socks") Носки
      .column
        +separator("Spins")
            +spin(pm, 1) Спальни
        +separator("Dropdown")
          +rooms-demand
        +separator("Dropdown")
          +guest-counter
      .column
        +separator("Calendar")
          +calendar(data-range="true")
    .column-holder
      .column
        +separator("Feature description")
          +feature-description("img/icons/emoticon.svg", "Комфорт", "Шумопоглощающие стены")
          +feature-description("img/icons/location_city.svg", "Удобство", "Окно в каждой из спален")
      .column
        +separator("Rich checbox Buttons")
          +rich-checkbox("Wide", "Широкий коридор") Ширина коридора в номере не менее 91 см.
          +rich-checkbox("Accessebility", "Помощник для инвалидов") На 1 этаже вас встретит специалист и проводит до номера.
      .column
        +separator("Bullet list")
        ul.bullet-list
          li.bullet-list__item Нельзя с питомцами
          li.bullet-list__item Без вечеринок и мероприятий
          li.bullet-list__item Время прибытия &mdash; после 13:00, а выезд до 12:00
    +separator("Feedback")
      +feedback("img/avatars/user-2.jpg", "Мурад Сарафанов", "5 дней назад", 12, true).
        Великолепный матрас на кровати в основной спальне!
        А пуфик вообще потрясающий.
        И стены действительно, шумоподавляющие.
        Выкрикивал комплименты повару &mdash; никто не жаловался из соседей.

    .column-holder
      .column
        +separator("Primary search")
          +primary-search
        +separator("Account registration")
          +account-registration
      .column
        +separator("Room booking")
          +room-booking(888, "люкс", "9 990", "20.08.2019", "24.08.2019", 3, 0, 300)
        +separator("Account enter")
          +login
      .column 
        +separator("Room card")