mixin date-text-field
  input.text-field.date-text-field(
      type="text" 
      spellcheck="false"
      data-inputmask="'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy', 'placeholder': 'ДД.ММ.ГГГГ'" 
      placeholder="ДД.ММ.ГГГГ")&attributes(attributes)